- title 'Edit Twiml'
- form_for @twiml, :html => {:class => 'panel', :selected => 'true', :id => 'updateTwimlForm'} do |f|
  = render :partial => 'form', :locals => {:f => f}  
  = hidden_field_tag '_method', 'put'
  = link_to_function "Update", '$("updateTwimlForm").submit()', :class => 'whiteButton', :type => 'submit'
