- form_for @twiml, :html => {:class => 'panel', :selected => 'true'} do |f|
  = render :partial => 'form', :locals => {:f => f}
  = link_to_function "Create", 'document.forms[0].submit()', :class => 'whiteButton', :type => 'submit'