- title "About"
%ul{:id => @title, :title => @title, :selected => "true"}
  %li
    .sub Just a little lost and found app for dogs and cats
    .sub
      %em Uses Rails, Twilio, Heroku and others
  %li
    = link_to "Integrated Internet", "http://Integrated-Internet.com"       
    .sub Brought to you by
  %li
    = link_to "Pet Vet Records", "http://PetVetRecs.com"       
    .sub In association with   
  %li
    = link_to "Lost&amp;Found", "/"       
    .sub Website      