%ul{:id => 'Resources', :title => 'Resources', :selected => "true"}
  %li= link_to "Calls", "/resources/calls"
  %li= link_to "Recordings", "/resources/recordings"
  %li= link_to "Phones", "/resources/phones"
  %li= link_to "Notifications", "/resources/notifications"