%form{:method => 'post', :action => '/home/settings', :id => 'settings', :title => 'Settings', :selected => "true", :class => 'panel'}
  %fieldset
    .row
      %label API
      %input{:type => 'text', :name => "twilio[api]", :value => TWILIO.api}
    .row
      %label API Url
      %input{:type => 'text', :name => "twilio[api_url]", :value => TWILIO.api_url}    
    .row
      %label SID
      %input{:type => 'text', :name => "twilio[sid]", :value => TWILIO.sid}      
    .row
      %label Token
      %input{:type => 'text', :name => "twilio[token]", :value => 'TWILIO.token'}      
    .row
      %label Phone
      %input{:type => 'text', :name => "twilio[phone]", :value => TWILIO.phone}     
    .row
      %label Box Phone
      %input{:type => 'text', :name => "twilio[sandbox_phone]", :value => TWILIO.sandbox_phone}
    .row
      %label Box Pin
      %input{:type => 'text', :name => "twilio[sandbox_pin]", :value => 'TWILIO.sandbox_pin'}                 
  /= link_to "Update", '', :class => 'whiteButton', :type => 'submit' 
