- @title = 'Call me!'

%p
  If you lost a pet, use our
  %b Call me!
  feature. No account is necessary. Here is how it works.

%p
  Enter your phone number in the box below. You will receive a call to confirm. 
  For the next week, if a pet is found in your zip code, a call will be made to you at or around 5pm central time - 
  telling you the pet details. If your pet is described, you can send a message to the person who found it - anonymously.

%p
  %b That is it, good luck! 

%fieldset
  %legend Call me!
  - fieldset_form_for @callme do |f|
    = f.error_messages
    = f.text_field :phone
    = f.text_field :zip
    = f.submit "Call me!"

%script
  $("#callme_phone").mask("(999) 999-9999"); 
  $("#callme_zip").mask("99999");    
%p
  %b Please recommend this service to anyone who has lost a pet. They'll love you for it!

